<!DOCTYPE html>
<!--[if lt IE 7]>      <html class=" lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class=" lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class=" lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>DataMaps</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <style>
        .info .well,
        .info .prettyprint {
          background-color: rgba(200,200,200,0.55);
        }
      </style>
        <link rel="stylesheet" href="/components/bootstrap/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/components/bootstrap/bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/styles/prettify.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
    <div class="container">
      <article class="page-header clearfix">
        <section class="pull-left">
          <h1>DataMaps</h1>
          <p class="lead">
            Interactive maps for data visualizations. Bundled into a single Javascript file.
          </p>
          <a href="https://raw.github.com/markmarkoh/datamaps/master/dist/datamaps-us-only.js" class="btn btn-primary">Download datamaps-usa.js</a>
          <a href="https://raw.github.com/markmarkoh/datamaps/master/dist/datamaps.js" class="btn btn-primary">Download datamaps-world.js</a>
        </section>
        <section class="pull-right" style="padding-right: 55px;">
          <div id="map_header" style="height: 150px; width: 300px;"></div>
        </section>
      </article>
    </div>

    <div class="container">
<article class="row">
        <section class="span5">
          <p class="lead"><code>plot</code> for plots/bubbles</p>
          <pre class="prettyprint linenums">
$("#map_bombs").datamap({
    scope: 'world',
    /*plot data*/
    plots: [{
          name: 'Gerboise Bleue',
          radius: 20.4,
          yeild: 70,
          country: 'France',
          significance: 'First fission weapon test by France',
          date: '1960-02-13',
          fillKey: 'FRA',
          latitude: -0.325,
          longitude: 26.1840
    }, {
    name: 'Canopus',
    radius: 10.23
    /*...snipped, see source link under map */
        ],
    /*plot config*/
    plot: {
        popupTemplate: _.template([
            '&lt;div class="hoverinfo">&lt;stro...'
    },
    geography: {
        popupOnHover: false,
        highlightOnHover: false
    },
</pre>
        </section>
        <section class="span7">
          <div id="map_bombs" style="width: 700px; height: 375px;"></div>
        </section>
        <a class="pull-right" href="http://bl.ocks.org/4255924">Source for this example</a>
      </article>

<hr />
      <article class="row">
        <section class="span5">
          <p class="lead"><code>data</code> for Choropleths</p>
          <pre class="prettyprint linenums">
$('#map_election').datamap({
      scope: 'usa',
      popupTemplate: _.template('&lt;div&gt;...&lt;/div&gt;'),
      fills: {
        'REP': '#CC4731',
        'DEM': '#306596',
        'HEAVY_DEM': '#667FAF',
        /*... snipped */
        defaultFill: '#EDDC4E'
      },
      data:{
        "AZ": {
            "fillKey": "REP",
            "electoralVotes": 5
        },
        "CO": {
            "fillKey": "LIGHT_DEM",
            "electoralVotes": 5
        } /* ... snipped */
})</pre>
        </section>
        <section class="span7">
          <p class="lead">&nbsp;</p>
          <div id="map_election" style="width: 700px; height: 375px;"></div>
        </section>
        <a class="pull-right" href="http://bl.ocks.org/4127517">Source for this example</a>

      </article>
<hr />
      <article class="row">
        <section class="span6">
          <p class="lead">World map</p>
          <div id="map_world" style="width: 400px; height: 200px;"></div>
        </section>
        <section class="span6">
          <p class="lead">USA specific</p>
          <div id="map_usa" style="width: 350px; height: 275px; margin-top: -45px;"></div>
        </section>
      </article>
      <article class="row">
        <section class="span6">
          <pre class="prettyprint">$("#map_world").datamap({scope: 'world'})</pre>
        </section>
        <section class="span6">
          <pre class="prettyprint">$("#map_usa").datamap({scope: 'usa'})</pre>
        </section>
      </article> 
    <hr style="margin-top: 60px;" />
    <article style="position:relative;" class="row info">
        <div id="bg" style="z-index:-1;position:absolute;top:0;left:0;width:100%;height:100%;"></div>
        <section class="span6">
          <h3>Examples</h3>
          <div class="well">
            <ul>
              <li><a href="http://bl.ocks.org/4255924">Plot: Milestone Nuclear Tests map</a></li>
              <li><a href="http://bl.ocks.org/4127667">Choropleth: Datamap of ongoing military conflicts</a></li>
              <li><a href="http://bl.ocks.org/4127517">Choropleth: US Election map</a></li>
            </ul>
          </div>
          <h3>Project Information</h3>
          <div class="well">
            <ul>
              <li>Uses D3.js</li>
              <li>and Backbone, Underscore &amp; Zepto</li>
              <li>Delivered as a jQuery plugin</li>
              <li>Optionally, if you use Backbone, also delivered as a standalone Backbone view</li>
              <li>Available bundled with dependencies and without(for existing Backbone apps)</li>
            </ul>
          </div>
          <h3>Available Builds</h3>
          <div class="well">
            <ul>
              <li>USA only w/ dependencies</li>
              <li>USA only w/o dependencies (Backbone, _ and $ would need to be provided)</li>
              <li>Countries only w/ dependencies</li>
              <li>Countries only w/o dependencies</li>
              <li>USA &amp; Countries w/ dependencies</li>
              <li>USA &amp; Countries w/o dependencies</li>
          </div>
        </section>
        <section class="span6">
          <h3>Default Options</h3>
          <pre class="prettyprint linenums">{
      projection: 'equirectangular', // 'albersUsa'
      scope: 'world', // 'usa'
      highlightOnHover: true,
      showPopupOnHover: true,
      popupTemplate: _.template('&lt;div class="hoverinfo"&gt;&lt;%= geography.properties.name %&gt;&lt;/div&gt;'),

      /* highlight defaults */
      highlightBorderColor: '#FA0FA0',
      highlightBorderWidth: 2,

      borderColor: '#FFFFFF',
      borderWidth: 1,

      /* fill settings */
      data: {},
      fills: {
        defaultFill: '#BADA55'
      }
}</pre>
        </section>
    </article>


    </div> <!-- /container -->
    <footer class="footer">
      <div class="container">
        <p>&copy; 2012 Mark DiMarco</p>
        <p>
        Released under the <a href="https://github.com/markmarkoh/datamaps/blob/master/LICENSE">MIT License</a>
      </p>
      </div>
    </footer>
    <script src="/scripts/datamaps-all.js"></script>
    <script>
      /* Backbone View style */
      new Map({
        el: $("#bg"),
        geography: {
          borderColor: 'rgba(200,200,200,0.4)'
        },
        fills: {defaultFill: 'rgba(0,0,0,0)'}
      }).render();

      new Map({
        el: $("#map_header"),

        geography: {
          highlightFillColor: '#222222',
          highlightBorderColor: '#000000',
          popupOnHover: false,
          borderColor: 'rgba(0,0,0,0.4)'
        },

        fills: {
          defaultFill: 'rgba(0,0,0,0)'
        }
      }).render();

      new Map({
        el: $("#map_world"),
        scope: 'world'
      }).render();

      new Map({
        el: $("#map_usa"),
        scope: 'usa'
      }).render();

      new Map({
        el: $("#map_events")
      }).render();

      $('#map_events').on('map-click', function(event, data) {
       alert('Hello ' + data.geography.properties.name);
      });
      $('#map_events').on('map-mouseover', function(event, data) {
        $('#map_events_heading').text('Mousing over ' + data.geography.properties.name);
      });


      /* jQuery/Zepto plugin version */
      $("#map_election").datamap({
        scope: 'usa',
         popupTemplate: _.template('&lt;;div class="hoverinfo"><strong><%= geography.properties.name %></strong> <% if (data.electoralVotes) { %> <br />Electoral Votes: <%= data.electoralVotes %> <% } %></div>'),

        geography: {
          highlightBorderColor: '#bada55',
          highlightBorderWidth: 3
        },

        fills: {
        'REP': '#CC4731',
        'DEM': '#306596',
        'HEAVY_DEM': '#667FAF',
        'LIGHT_DEM': '#A9C0DE',
        'HEAVY_REP': '#CA5E5B',
        'LIGHT_REP': '#EAA9A8',
        defaultFill: '#EDDC4E'
      },
      data:{
        "AZ": {
            "fillKey": "REP",
            "electoralVotes": 5
        },
        "CO": {
            "fillKey": "LIGHT_DEM",
            "electoralVotes": 5
        },
        "DE": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "FL": {
            "fillKey": "UNDECIDED",
            "electoralVotes": 29
        },
        "GA": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "HI": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "ID": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "IL": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "IN": {
            "fillKey": "REP",
            "electoralVotes": 11
        },
        "IA": {
            "fillKey": "LIGHT_DEM",
            "electoralVotes": 11
        },
        "KS": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "KY": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "LA": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "MD": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "ME": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "MA": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "MN": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "MI": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "MS": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "MO": {
            "fillKey": "REP",
            "electoralVotes": 13
        },
        "MT": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "NC": {
            "fillKey": "LIGHT_REP",
            "electoralVotes": 32
        },
        "NE": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "NV": {
            "fillKey": "HEAVY_DEM",
            "electoralVotes": 32
        },
        "NH": {
            "fillKey": "LIGHT_DEM",
            "electoralVotes": 32
        },
        "NJ": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "NY": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "ND": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "NM": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "OH": {
            "fillKey": "UNDECIDED",
            "electoralVotes": 32
        },
        "OK": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "OR": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "PA": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "RI": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "SC": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "SD": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "TN": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "TX": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "UT": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "WI": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "VA": {
            "fillKey": "LIGHT_DEM",
            "electoralVotes": 32
        },
        "VT": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "WA": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "WV": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "WY": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "CA": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "CT": {
            "fillKey": "DEM",
            "electoralVotes": 32
        },
        "AK": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "AR": {
            "fillKey": "REP",
            "electoralVotes": 32
        },
        "AL": {
            "fillKey": "REP",
            "electoralVotes": 32
        }
}
      });

    
    </script>
    <script src="scripts/bombs.js"></script>
    <a href="https://github.com/markmarkoh/datamaps"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
    <script src="/scripts/prettify.js"></script>
    <script>window.prettyPrint && prettyPrint()</script>
       <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36315921-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </body>
</html>